<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- nav bar -->
    <center><a href="/logout"><button >logout</button></a></center>
    welcome
</br>
    <p>USERNAME :<%= typeof name=='undefined'? " ":name%></p><br>
    <p>EMAIL :<%= typeof email=='undefined'? " ":email%></p><br>
    <p>NAME :<%= typeof name=='undefined'? " ":name%></p>

</br></br></br>
    <center><a href="/api/media/upload"><button >UploadVideo</button></a></center>
</body>
</html>