<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <a href="<%= src[0] %>"><%= src[0] %>"</a>
       <a href="<%= src[2] %>"><%= src[2] %></a>
        
</body>
</html>